extends includes/header.jade

block title
  title Home

block content
  .container
    .jumbotron
      h1 ThoughtCloud
      h2 Test
      each post in posts
        .postLink
          a(href="/public/"+post.post._id)= post.post.title
          span=" "+post.relevancy+"%"
          br
