extends includes/header.jade

block title
  title Home

block content
  .container
    .jumbotron
      h1 ThotCloud
      h2 lmao
      p Yo suck my shit up fam we gon harrrrrddd. Bootstrap for the fukcing win m8