extends includes/header.jade

block content
  .container
    .jumbotron
      h1 Search
      form(
        action='/public/search'
        method='get'
      )
        input(
          name='tags'
        )
        button= 'Go'
